.bg-image,.bg-image1,.bg-image2{
   
    background-position: center center;
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
}
.bg-image::after,.bg-image1::after,.bg-image2::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    content: "";
}
.bg-image{
    /* background-image: url(https://i.imgur.com/F0N4mJZ.jpg); */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    /* background-image: linear-gradient(to right, blue, red,white); */
    
  
}
.bg-image1{
    /* background-image: url(https://i.imgur.com/F0N4mJZ.jpg); */
    background: linear-gradient(90deg, rgba(195,34,135,1) 34%, rgba(153,45,253,1) 59%);
  
}
.bg-image2{
    /* background-image: url(https://i.imgur.com/9QJPIXX.jpg); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,1) 29%, rgba(31,176,218,1) 51%, rgba(7,104,130,1) 83%, rgba(0,212,255,1) 100%);
   
}
.carousel-caption.d-none.d-md-block {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.d-none {
    display: block!important;
}
.carousel-caption.d-none.d-md-block h5 {
    color: #969696;
    font-size: 50px;
    font-weight: 700;
}
